registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
selenium_cdnurl=https://npmmirror.com/mirrors/selenium/
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector/

sass_binary_site=https://npmmirror.com/mirrors/node-sass/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/
puppeteer_download_host=https://npmmirror.com/mirrors/
python_mirror=https://npmmirror.com/mirrors/python/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
npm_config_profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/